<div ng-show="showContent">
    <h1>{{parameterEmail.name}}</h1>
    <h4>{{parameterEmail.value}}</h4>


    <h1>{{parameterDate.name}}</h1>
    <h3>{{parameterDate.value}}</h3>

    
    <h1>Tips</h1>
    <ul>
        <li>
            No subir archivos con nombres con caracteres especiales tales como: (&ntilde;,[&aacute;,&eacute;,&iacute;,&oacute;,&uacute;])
        </li>
        <li>
            Cuando se suban archivos asociados, se les deben de asignar los permisos correspondientes
        </li>
        <li>
            No eliminar ninguna categor&iacute;a que tenga preguntas relacionadas
        </li>
        <li>
            El prefijo de las im&aacute;genes de los archivos es "api/files/0/nombre-completo-archivo"
        </li>
<!--        <li>
            http://en.wikipedia.org/wiki/File_URI_scheme#Web_pages<br />
            https://chrome.google.com/webstore/detail/locallinks/jllpkdkcdjndhggodimiphkghogcpida/related   
        </li>-->
    </ul>
</div>